.Box {
    position: relative;
    background-color: var(--background-color);
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
